[core]
    excludesfile = ~/.gitignore_global
    editor = emacs
    pager = delta
    autocrlf = input

[delta]
    line-numbers = true

[interactive]
    diffFilter = delta --color-only

[include]
    path=~/.gituser
    path=~/.gitaliases
    path=~/.gitaliases_custom
